bowlinggamekata/Bowling\ Game\ Kata.ppt
.~lock*
*.swp
*.pyc
*.class
*.dbmdl
*.user
*.suo
*.cache
*.log
*.log.*
obj
bin
ErrorLogs
Packages
*~
*.swp
_ReSharper*
*.db
*.orig
*.rej
*.vs10x
CI
TestResult.xml
test-results
GildedRose.userprefs
*.idea
.gitattributes
